{{extend 'layout.html'}}
		<div id="processingIco" style="z-index:10; background-color:rgba(128,128,128,0.2); position:absolute; top:20; bottom:20; left:20; right:20; cursor:wait;"></div>
		<table style="width:100%">
			<tr>
				<td>
					<div id="graphdiv"></div>
					<div id="labelsdiv" style="z-index:1; position:relative; bottom:40px; left:100px"></div>
				</td>
				<td style="width:490px">
					<h2 onclick="collapse('section_file')">File</h2>
					<div id="section_file">
							<h3>Current File</h3>
							<div class="current_record">... none</div>
							<h3 onclick="collapse('my_records')">My FLISE</h3>
							{{=LOAD('default', 'files', target='my_records', ajax=True)}}
							<h3 onclick="collapse('create_record')">Upload FLISE</h3>
							{{=LOAD('default', 'file', ajax=True, target='create_record')}}
					</div>
					<hr />
					<h2 onclick="collapse('edit_record')">Raw data description</h2>
					<div id="edit_record" style="display:none;"> ... upload or select a file.</div>
					<hr />
					<h2 onclick="collapse('series_options');collapse('global_options')">Series Options</h2>
					<div id="series_options" style="display:none;"> ... upload or select a file.</div>
					<div id="global_options" style="display:none;"> </div>
					<hr />
					<h2 onclick="collapse('autoseg_options')">Auto-segmentation</h2>
					<div id="autoseg_options" style="display:none;"> ... upload or select a file.</div>
					<hr />
					<h2 onclick="collapse('tools')">Tools</h2>
					<div id="tools" style="display:none;"> ... upload or select a file.</div>
					<hr />
					<h2 onclick="collapse('deriv')">Preprocessing</h2>
					<div id="deriv" style="display:none"> ... upload or select a file.</div>
					<hr />
					<h2>Temp div zone for interval manipulation</h2>
					<div id="subinterval"> 
						double click to select a zone
					</div>
				</td>
			</tr>
		</table>
      <div style="display: none" id="species_store">{{=LOAD('default', 'species')}}</div>
		<script type="text/javascript">
		{{include 'default/script.js'}}
		</script>
