{{extend 'layout.html'}}
		<div id="processingIco" style="z-index:10; background-color:rgba(128,128,128,0.2); position:absolute; top:20; bottom:20; left:20; right:20; cursor:wait;"></div>
		<table style="width:100%; table-layout:fixed;">
			<tr>
				<td>
					<div id="graphdiv"></div>
					<div id="labelsdiv" style="z-index:1; position:relative; bottom:40px; left:100px"></div>
				</td>
				<td style="width:99%" rowspan="2">
					<h2 onclick="collapse('section_file')">1. File</h2>
					<div id="section_file">
							<h3>Current File</h3>
							<div class="current_record">... none</div>
							<h3 onclick="collapse('my_records')">My FLISE</h3>
							{{=LOAD('default', 'files', target='my_records', ajax=True)}}
							<h3 onclick="collapse('create_record'); collapse('import_record');">Upload FLISE</h3>
							{{=LOAD('default', 'file', ajax=True, target='create_record')}}
							{{=LOAD('default', 'import_file', ajax=True, target='import_record')}}
					</div>
					<div id="section_data" style="display:none">
						<hr />
						<h2 onclick="collapse('edit_record')">2. Raw data description</h2>
						<div id="edit_record" style="display:none;"> ... upload or select a file.</div>
						<hr />
						<h2 onclick="collapse('series_options');collapse('global_options')">3. Series Options</h2>
						<div id="series_options" style="display:none;"> ... upload or select a file.</div>
						<div id="global_options" style="display:none;"> </div>
						<hr />
						<h2 onclick="collapse('autoseg_options');collapse('tools')">4. Auto-segmentation</h2>
						<div id="autoseg_options" style="display:none;"> ... upload or select a file.</div>
						<hr />
						<h2 onclick="collapse('tools')">5. Tools for segmentation</h2>
						<div id="tools" style="display:none;"> ... upload or select a file.</div>
						<hr />
						<h2 onclick="collapse('deriv')">6. Preprocessing</h2>
						<div id="deriv" style="display:none"> ... upload or select a file.</div>
						<hr />
						<h2 onclick="collapse('export')">7. Export (per segment)</h2>
						<div id="export" style="display:none"> ... upload or select a file.</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="graphdiv2" style="cursor:crosshair"></div>
				</td>
			</tr>
		</table>
		<div style="display: none" id="species_store">{{=LOAD('default', 'species')}}</div>
		<div style="display: none" id="strains_store">{{=LOAD('default', 'strains')}}</div>
		<div style="display: none" id="solutions_store">{{=LOAD('default', 'solutions')}}</div>
		<div style="display: none" id="components_store">{{=LOAD('default', 'components')}}</div>
		<div id="subinterval"> ... click with export tool to select a segmentation zone. </div>
		<div id="event"> ... click with event tool (for calibration, it must be a point on a series).</div>
		<div style="display: none" id="solution"> ... </div>
		<form id="json2spreadsheet_form" style="display:none" method="POST" target="_blank" action="{{=URL('default', 'export_spreadsheet')}}"></form>
		<script type="text/javascript">
		{{include 'default/script.js'}}
		</script>