{{extend 'layout.html'}}
<h1>Setup</h1>

<h2>First User</h2>
If you use this application as a desktop application you will automatically be logged in 
<br />
(as the first user - if you access it directly from you computer and you will not have to remember your password :D)
{{=form}}
<br />
<h2>pyMantis</h2>
Setup pyMantis location for synchronization of the strain database.
<br />
{{=LOAD('setup', 'setup_pymantis', vars=request.vars, ajax=True)}}
<h2>Sync pyMantis Strains</h2>
<a class="button" id='sync'>sync</a>
<div id="sync_res"></div>
<h2>Import pyMantis Strains</h2>
Log into pyMantis and go to the <a href="http://translucent-network.org/pyMantis/tlc/records.json/Strain">pyMantis Strain export in JSON format</a>. Copy the output to the form below and submit it.
{{=LOAD('setup', 'import_pymantis_strains', ajax=True)}}
<br />
<br />
<br />
<script type="text/javascript">
    $(document).ready(function(){
        $('#sync').click(function(){
            web2py_component('{{=URL("setup", "sync_pymantis_strains")}}','sync_res');
        });
    });
</script>
