/**********************************/
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
    background-color:#333; 
    border:8px solid #444; 
    padding:12px;
    }
/**********************************/
#event, #subinterval, #solution {
    color: white;
    display: none;
}
/**********************************/
#create_record {
    display: none;
}
h3[onclick], h2[onclick] {
    cursor: pointer;
}
h3[onclick]:hover, h2[onclick]:hover {
    background-color: #eee;
}
.flise_file {
    list-style: none;
    position: relative;
}
.flise_file .flise_file_actions{
	display: none;
	float: right;
}
.flise_file .flise_export, .flise_file .flise_del{
    width: 36px;
    height: 20px;
    color: white;
    text-shadow: #666 1px 1px 0;
    border-radius: 3px;
    padding: 0 5px 0 5px;
    text-align: center;
    display: inline-block;
}
.flise_file .flise_del {
    background-color: red;
}
.flise_file .flise_export {
    background-color: green;
}
.flise_file:hover .flise_file_actions {
    display: inline-block;
}
.flise_file .flise_select{
    display: inline-block;
}
.flise_file .flise_select, .flise_file .flise_del, .flise_file .flise_export {
    cursor: pointer;
}
.flise_file:hover {
    background-color: #eee;
}
/****************************************/
#tool_zoom {
	background: url('../icons/tool-palette.png');
	background-position: 0px 0px;
	width: 32px;
	height: 33px;
	display: inline-block;
}
#tool_cut {
background: url('../icons/tool-palette.png');
	background-position: -32px 0px;
	width: 32px;
	height: 33px;
	display: inline-block;
}
#tool_nocut {
	background: url('../icons/tool-palette.png');
	background-position: -64px 0px;
	width: 33px;
	height: 33px;
	display: inline-block;
}
#tool_drop {
	background: url('../icons/tool-palette.png');
	background-position: -96px 0px;
	width: 33px;
	height: 33px;
	display: inline-block;
}
#tool_event {
	background: url('../icons/tool-palette.png');
	background-position: -128px 0px;
	width: 33px;
	height: 33px;
	display: inline-block;
}
#tool_cancel {
	background: url('../icons/tool-palette.png');
	background-position: -160px 0px;
	width: 33px;
	height: 33px;
	display: inline-block;
}
#tool_export {
	background: url('../icons/tool-palette.png');
	background-position: -192px 0px;
	width: 33px;
	height: 33px;
	display: inline-block;
}
.toolbar {		
	position: relative;
	display: inline-block;
}
/****************************************/
