					<table>
							<tr>
									<th>Local window size</th>
									<td><input type="range" min="1" max="50" value="%autoseg_win%" step="1" class="segmentation_slider" id="locw"/> <span/></td>
							</tr>
							<tr>
									<th>Distance to fuse</th>
									<td><input type="range" min="0" max="200" value="%autoseg_fuse%" step="1" class="segmentation_slider" id="fusw"/> <span/></td>
							</tr>
					</table>
					<input id="autoseg" type="submit" value="Start"/>
					<input id="revertseg" type="submit" value="Revert"/>
