<div style="color: red; font-size: smaller; text-align: center" id="event_warning">Please correct the fields in red...</div>
<table>
	<tr>
		<th align="left">Time point: </th>
		<td>
			%time%
		</td>
	</tr>
	<tr>
		<th align="left">Series: </th>
		<td>
			%series_name%
		</td>
	</tr>
	<tr>
		<th align="left">Type: </th>
		<td>
			<select id="event_type" style="width:100px">
			  <option value="comment">comment</option>
			  %options%
			</select>
		</td>
	</tr>
	<tr>
		<th align="left">Solution:</th>
		<td>select %select_solution% <input type="submit" value="edit" name="edit_solution"/> or <input type="submit" value="add new solution" name="add_solution"/> </td>
	</tr>
	<tr>
		<th align="left">Volume:</th>
		<td>
			<input name="event_volume" type="text" value="%volume%" style="width:100px"/>(Unit: L)
		</td>
	</tr>
	<tr>
		<th align="left">Concentration:</th>
		<td>
			<input name="event_concentration" type="text" value="%concentration%" style="width:100px"/>(Unit: mol/L)
		</td>
	</tr>
	<tr>
		<th align="left">Comment:</th>
		<td>
			<textarea name="event_comment" rows="4">%comment%</textarea>
		</td>
	</tr>
</table>
<div style="text-align: right"><input type="submit" value="Cancel" id="event_cancel"/> <input type="submit" value="Done" id="event_done"/></div>