<tr>
	<th>Strain reference</th>
	<td>
		<input name="strain_ref" type="text" value="%strain_ref%"/>
	</td>
</tr>
<tr>
	<th>Optical density</th>
	<td>
		<input name="od" type="text" value="%od%" style="width:100px"/>(1.2 x 10^7 cells / OD-unit)
	</td>
</tr>
<tr>
	<th>Dilution factor</th>
	<td>
		<input name="dilutionf" type="text" value="%dilutionf%" style="width:100px"/>(for OD measurement)
	</td>
</tr>
<tr>
	<th>Cell diameter</th>
	<td>
		<input name="celldiameter" type="text" value="%celldiameter%" style="width:100px"/>(10^-6 m)
	</td>
</tr>
<tr>
	<th>Description</th>
	<td>
		<textarea name="comments" rows="4">%comments%</textarea>
	</td>
</tr>
<tr>
    <td colspan="2"><hr/></td>
</tr>
<tr>
	<th>Smoothing roller</th>
   <td> 
        <input name="smooth" type="checkbox" %smooth%/> 
        <input type="range" name="smooth_val" min="1" max="70" step="1" value="%smooth_value%"/> <span/>
   </td>
</tr>