
<tr>
	<th>Name</th>
    <td> <input name="series_name" type="text" value="%name%"/> </td>
</tr>
<tr>
	<th>Show</th>
    <td> <input name="show" type="checkbox" %show%/> </td>
</tr>
<tr>
	<th>Color</th>
    <td> <input name="color" type="text" value="%color%"/> </td>
</tr>
<tr>
	<th>Smoothing roller</th>
    <td> 
        <input name="smooth" type="checkbox" %smooth%/> 
        <input type="range" min="0" max="50" step="1"value="%smooth_value%"/><span/>
    </td>
</tr>
<tr>
    <td colspan="4"><hr/></td>
</tr>

