<tr>
	<th>Ions:</th>
   <td>select %select_species% or <input class="new_species" type="text" style="width:100px" value=""/> <input type="submit" value="add" class="add_species"/> </td>
</tr>
<tr>
	<th>Display:</th>
	 <td>
	 	<table>
			<tr>
				<th>Color</th>
				<td> <input name="color" type="text" value="%color%"/> </td>
				<th>Show</th>
				<td> <input name="show" type="checkbox" %show%/> </td>
			</tr>
		</table>
	 </td>
</tr>
<tr>
	<th>Slope:</th>
	<td><input name="calibration_slope" type="text" value="%calibration_slope%" style="width:100px" class="double"/>(Volt): calibration</td>
</tr>
<tr>
    <td colspan="4"><hr/></td>
</tr>