<div style="color: red; font-size: smaller; text-align: center" id="solution_warning">Please correct the fields in red or add at least one component...</div><div style="color: red; font-size: smaller; text-align: center" id="solution_delete_refused">Request for delete declined: this solution is used in some other event (eventually in a different file)...</div>
<table width="700">
	<tr>
		<th align="left" width="120">Name:</th>
		<td style="text-align: left" colspan="3">
			<input name="solution_name" type="text" value="%name%" style="width:300px"/> <span style="color: red; text-align: left" id="solution_name_warning">is empty or already exists...</span>
		</td>
	</tr>
	%stcomp%
	<tr>
		<th align="left">New component?</th>
		<td style="text-align: right" colspan="2">
			Add from %select_components% or <input id="new_component" type="text" style="width:150px" value=""/> 
		</td>
		<td><input type="submit" value="add" id="add_component"/></td>
	</tr>
</table>
<table width="700">
	<tr>
		<td width="50%"><input type="submit" value="Duplicate this solution" id="solution_duplicate"/> <input type="submit" value="Delete this solution" id="solution_delete"/> <span/> </td>
		<td style="text-align: right"><input type="submit" value="Cancel" id="solution_cancel"/> <input type="submit" value="Done" id="solution_done"/> <span/> </td>
	</tr>
</table>