<table>
	<tr>
		<th align="left">Name:</th>
		<td colspan="2">
			<input name="solution_name" type="text" value="%name%" style="width:200px"/>(Unit: L)
		</td>
	</tr>
	<tr>
		<th align="left">Components:</th>
		<td>
			%component% <input type="submit" value="remove" class="remove_component"/>
		</td>
		<td>
			Ratio: <input class="component_ratio" type="text" style="width:100px" value=""/>
		</td>
	</tr>
	<tr>
		<th align="left">New components?</th>
		<td colspan="2">
			Add from %select_ions% or <input class="new_component" type="text" style="width:100px" value=""/> <input type="submit" value="add" class="add_component"/>
		</td>
	</tr>
</table>
<input type="submit" value="delete" name="delete_solution"/> <input type="submit" value="done" name="end_solution"/> 