<table>
	<tr>
		<th align="right">Interval</th>
		<td>
			from %start% to %end%.
		</td>
	</tr>
	<tr>
		<th align="right">Name</th>
		<td>
			<input name="sub_name" type="text" style="width:350px" value="%name%"/>
		</td>
	</tr>
	<tr>
		<th align="right">Strain reference</th>
		<td>
			%strain_ref%
		</td>
	</tr>
	<tr>
		<th align="right">Optical density</th>
		<td>
			<input name="sub_od" type="text" value="%od%" style="width:100px" class'integer'/>(1.2 x 10^7 cells / OD-unit)
		</td>
	</tr>
	<tr>
		<th align="right">Dilution factor</th>
		<td>
			<input name="sub_dilutionf" type="text" value="%dilutionf%" style="width:100px" class='integer'/>(for OD measurement)
		</td>
	</tr>
	<tr>
		<th align="right">Cell diameter</th>
		<td>
			<input name="sub_celldiameter" type="text" value="%celldiameter%" style="width:100px" class='integer'/>(10^-6 m)
		</td>
	</tr>
	<tr>
		<th align="right">Comments</th>
		<td>
			<textarea name="sub_comments" style="width:350px" rows="4">%comments%</textarea>
		</td>
	</tr>
	<tr>
		<th align="right">Calibration</th>
		<td>
			<table>
				%caloptions%
			</table>
		</td>
	</tr>
</table>
<a class="button" id="export2excel">Export as XLS</a> <a class="button" id="export2pyMantis">Upload to pyMantis</a>
