<table>
	<tr>
		<th>Name</th>
		<td>
			<input name="sub_name" type="text" value=""/>
		</td>
	</tr>
	<tr>
		<th>Strain reference</th>
		<td>
			<input name="sub_strain_ref" type="text" value="%strain_ref%"/>
		</td>
	</tr>
	<tr>
		<th>Optical density</th>
		<td>
			<input name="sub_od" type="text" value="%od%" style="width:100px"/>(1.2 x 10^7 cells / OD-unit)
		</td>
	</tr>
	<tr>
		<th>Dilution factor</th>
		<td>
			<input name="sub_dilutionf" type="text" value="%dilutionf%" style="width:100px"/>(for OD measurement)
		</td>
	</tr>
	<tr>
		<th>Cell diameter</th>
		<td>
			<input name="sub_celldiameter" type="text" value="%celldiameter%" style="width:100px"/>(10^-6 m)
		</td>
	</tr>
	<tr>
		<th>Comments</th>
		<td>
			<textarea name="sub_comments" rows="4">%comments%</textarea>
		</td>
	</tr>
	<tr>
		<th>Calibration</th>
		<td> 
			  
		</td>
	</tr>
</table>